/* matt's your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

header#hero .overlay {
  background: rgba(33,101,182,.4)
}

@media(max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media(max-width: 500px) {
  h2 {
    font-size: 1.7rem;
  }
}

.team-member {
  max-width: 500px;
  margin: auto;
}

#sponsors img {
  padding: 10px;
}
