{{ "<!-- Contact Section -->" | safeHTML }}
<div class="container" id="contact">

	<div class="row">
		<div class="col-md-8">

			<section id="contact">
				{{ "<!-- Contact Markdown -->" | safeHTML }}
				
				{{ .Content }}
				
				{{ "<!-- Contact Form -->" | safeHTML }}
				

			</section>

		</div>

		<div class="col-md-4">

			{{ if isset .Site.Params "address" }}
			<section>

				<h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

				{{ .Site.Params.address | safeHTML }}

			</section>

			{{ end }}

		</div>

	</div>
	<!-- /.row -->
</div>


{{ if .Site.Params.widgets.contact_map }}
{{ partial "map.html" . }}
{{ end }}
