{{ "<!-- Keynotes Section -->" | safeHTML }}
<section id="keynotes" class={{ if .Site.Params.keynotes.bg }} "bar background-gray no-mb"
	{{ else if .Site.Params.keynotes.pattern }} "bar background-pentagon no-mb" 
	{{ else if .Site.Params.keynotes.photo1 }} "bar background-image-fixed-1" 
	{{ else if .Site.Params.keynotes.photo2 }} "bar background-image-fixed-2" 
	{{ else }} "bar background-white no-mb" {{ end }}>
	<div class="container">
		<div class="row">
            <div class="col-md-12">
				{{ if isset .Site.Params.keynotes "title" }}
				<div class="heading text-center">
					<h2>{{ .Site.Params.keynotes.title }}</h2>
				</div>
				{{ end }}
				{{ if isset .Site.Params.keynotes "subtitle" }}
				<div class="heading text-center">
					<h3>{{ .Site.Params.keynotes.subtitle }}</h3>
				</div>
				{{ end }}
            </div>
        </div>
		<div class="row">
			{{ range .Site.Params.keynotes.members }}
			<div class="col-md-4">
				<div class="team-member">
					{{ $url := printf "img/keynotes/%s" .img }}
					<img src="{{ $url | absURL }}" class="img-responsive img-circle center-block" alt="{{ .alt }}">
					<h3>{{ .name | markdownify }}</h3>

					{{ with .position }}
					<h4>{{ . | markdownify }}</h4>
					{{ end }}
					{{ with .reportsTo }}
					<h5 class="report">Reports to {{ . | markdownify }}</h5>
					{{ end }}

					{{ with .livesIn }}
					<h5>Lives in {{ . | markdownify }}</h5>
					{{ end }}

					{{ with .scope }}
					<ul>
						{{ range . }}
						<li>{{ . | markdownify }}</li>
						{{ end }}
					</ul>
					{{ end }}

					<ul class="list-inline social-buttons">
						{{ range .social }}
						<li><a target="_blank" href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
						{{ end }}
					</ul>

					{{ with .bio }}
					<p class="team-bio">{{ . | markdownify }}</p>
					{{ end }}

				</div>
			</div>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">{{ with .Site.Params.keynotes.description }}{{ . | markdownify }}{{ end }}</p>
			</div>
		</div>
	</div>
</section>
